<%- include('partials/header') %>
<main>
  <section>
    <p>Ovo je aplikacija napravljena za pokaz rada sljedećih napada:</p>
    <p>SQL umetanje</p>
    <p>Lažiranje zahtjeva na drugom sjedištu</p>
  </section>
  <section>
    <p>
      Lažiranje zahtjeva na drugom sjedištu je napravljeno pomocu 2 linka na nav baru:
      CSFR će ućitati sliku koja je link da vam promjeni password u 'napadacevpassword',
       a noCSFR je zastičen preko secret tokena te će onemogućiti promjenu passworda
    </p>
  </section>
  <section>
    <p>
      Ovdje je primjer SQL umetanja. U poje upišite svoj username i password da dobite svoj id.
      Kada upišete <span class="highlight">' OR ''='</span> u oba polja detektira se SQL ubacivanje. Sa checkboxom zaštia se ubacivanje uključuje i isključuje.
    </p>
    <form action="/sqlinput" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <br>
      <label for="checkbox">Zaštita:</label>
      <input type="checkbox" id="checkbox" name="checkbox">
      <br>
      <button type="submit">Submit</button>
    </form>
  </section>
  <section>
    <% if (result !== null) { %>
      <ul>
        <% result.forEach(function(user) { %>
          <li>
            Username : <strong><%= user.username %></strong>
          </li>
          <li>
            Password : <strong><%= user.password %></strong>
          </li>
          <li>
            Id : <strong><%= user.id %></strong>
          </li>
        <% }); %>
      </ul>
    <% } %>
  </section>
</main>
<%- include('partials/footer') %>
